---
layout: base
---
<header>
    {% include 'navigation/primary' %}
    <h1>Airliners</h1>
</header>
<main-container>
    {% if parent %}
    <aside>
        {% include 'navigation/secondary' %}
    </aside>
    {% endif %}
    <main>
        <section aria-labelledby="{{ title | slugify }}">
            <h2 id="{{ title | slugify }}">{{ title }}</h2>
            {% if description %}<p><strong>{{ description }}</strong></p>{% endif %}
            {% if role %}<p>{{ role }} that entered service in {{ service }}.</p>{% endif %}
            {{ content }}
            {% include 'navigation/paginate' %}
        </section>
    </main>
</main-container>
<footer>
    {% if collections.footer %}
    {% include 'navigation/footer' %}
    {% endif %}
    {% include 'copyright' %}
</footer>