---
layout: base
---
<header>
    {% include 'nav-primary' %}
    <h1>Airliners</h1>
</header>
<main>
    {% if collections.secondary %}
    <aside>
        {% include 'nav-secondary' %}
    </aside>
    {% endif %}
    <section aria-labelledby="{{ title | slugify }}">
        <h2 id="{{ title | slugify }}">{{ title }}</h2>
        {% if description %}<p><strong>{{ description }}</strong></p>{% endif %}
        {{ content }}
    </section>
</main>
<footer>
    {% if collections.footer %}
    {% include 'nav-footer' %}
    {% endif %}
    {% include 'copyright' %}
</footer>