<p>{% if page.url != pagination.href.first %}<a href="{{ pagination.href.first }}"><button>First page</button></a>{% else %}First page{% endif %} - 
{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}"><button>{{ pagination.page.previous.role }}</button></a>{% else %}Previous{% endif %} - 
This is page {{ pagination.pageNumber | plus: 1 }} - 
{% if pagination.href.next %}<a href="{{ pagination.href.next }}"><button>{{ pagination.page.next.role }}</button></a> {% else %} Next{% endif %} - 
{% if page.url != pagination.href.last %}<a href="{{ pagination.href.last }}"><button>Last page</button></a>{% else %}Last page{% endif %}</p>