---
title: Airliners array
description: An array of airliners
date: 2024-02-01
---
  <p>There are {{ array.size }} airliners.</p>
<ul>
  {% assign array = array | sort %}
  {% for airliner in array %}
  <li><a href="{{ airliner | prepend: '/airliner/' | url }}">{{ airliner | capitalize }}</a></li>
  {% endfor %}
</ul>

<h4>Structure</h4>
<pre><code>
{% raw %}
  &lt;ul>
    {% assign array = array | sort %}
    {% for airliner in array %}
      &lt;li>&lt;a href="/airliner/{{ airliner }}">{{ airliner | capitalize }}&lt;/a>&lt;/li>
    {% endfor %}
  &lt;/ul>
{% endraw %}
</code></pre>