---
title: Airliners hierarchie
description: A hierarchie of airliners
date: 2024-02-03
---
<ul>
  {% for role_names in hierarchic %}
  {% for company_names in role_names.airplanes %}
  {% for airplanes_names in company_names.models %}
  <li><a href="{{ airplanes_names.model | prepend: '/airliner/' | url }}">{{ company_names.company }} {{ airplanes_names.model | capitalize }}</a></li>
  {% endfor %}
  {% endfor %}
  {% endfor %}
</ul>

<h4>Structure</h4>
<pre><code>
{% raw %}
  &lt;ul>
  {% for role_names in hierarchic %}
    {% for company_names in role_names.airplanes %}
    {% for airplanes_names in company_names.models %}
      &lt;li>&lt;a href="/airliner/{{ airplanes_names.model }}">{{ company_names.company }} {{ airplanes_names.model | capitalize }}&lt;/a>&lt;/li>
    {% endfor %}
    {% endfor %}
    {% endfor %}
  &lt;/ul>
{% endraw %}
</code></pre>