---
title: Permalinks collections details
description: Paginate an collections of airliners with permalinks
date: 2024-07-08
pagination:
  data: collections.airliner
  size: 1
permalink: "permalink2/{{ pagination.items[0].data.title | slugify }}/index.html"
---
{% include 'pagination/collection' %}
<h2>{{ pagination.items[0].data.title }}</h2>
<p>Range: {{ pagination.items[0].data.role }}</p>
<p>Entered service in {{ pagination.items[0].data.service }}</p>
<p>{{ pagination.items[0].content }}</p>
<h4>Structure</h4>
<h5>Frontmatter</h5>
<pre>
  pagination:
    data: collections.airliner
    size: 1
  permalink: "permalink2/&#123;&#123; pagination.items[0].data.title | slugify }}/index.html"
</pre>
<h5>Content</h5>
<pre>
  &lt;h4>&#123;&#123; pagination.items[0].data.title }}&lt;/h4>
  &lt;p>&#123;&#123; pagination.items[0].content }}&lt;/p>
  {&#37; include 'paginationCollection' &#37;}
</pre>